@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body {
    background-color: white;
}
ul {
    list-style: none;
}
nav {
    background-color: #541419;
    padding: 0 100px;
    box-shadow: 0 10px 0 #586BA4;
}
nav h1 {
    display: inline-block;
    margin-right: 40px;
    color: #D32A2A;
    font-size: 30px;
    text-decoration: none;
}
nav * {
    color: #D58936;
}
nav a {
    display: block;
    padding:  40px;
    text-decoration: none;
    transition: all 0.2s;
}
nav a.active {
    font-weight: bold;
    color: #FFC76D;
    background-color: #D1603D;
    box-shadow: 0 10px 0 #7C1710;
}
nav a:hover {
    background-color :#D1603D;
    color: white;
    transition: all 0.2s;
}
nav ul {
    display: inline-flex;
}

#welcome, #random, #search {
    width: 80%;
    margin: 60px auto;
}

/* Accueil */

#welcome {
    background-color: #e7e7e7;
    padding: 50px 100px;
    border-radius: 10px;
}

#welcome h2 {
    font-size: 30px;
}

#welcome p {
    padding: 10px 0;
}

/* Page Recherche */
#search h2 {
    margin: 15px 0;
}
#search .search-container {
    display: flex;
}
#search .search-container * {
    height: 64px;
    display: block;
    padding: 20px;
    transition: all 0.2s;
}
#search input {
    width: 70%;
    height: 60px;
    font-size: 24px;
    border-color: #e7e7e7;
    border-radius: 10px;
}
#search select {
    flex: 1;
    margin-left: 10px;
    border: none;
    font-size: 16px;
    background-color: #f0f0f0;
}
