@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
body {
    background-color: white;
}
ul {
    list-style: none;
}
nav {
    background-color: #541419;
    padding: 0 100px;
    box-shadow: 0 10px 0 #586BA4;
}
nav h1 {
    display: inline-block;
    margin-right: 40px;
    color: #D32A2A;
    font-size: 30px;
    text-decoration: none;
}
nav * {
    color: #D58936;
}
nav a {
    display: block;
    padding:  40px;
    text-decoration: none;
}
nav a.active {
    font-weight: bold;
    color: #FFC76D;
    background-color: #D1603D;
    box-shadow: 0 10px 0 #7C1710;
}
nav a:hover {
    background-color :#D1603D;
    color: white;
}
nav ul {
    display: inline-flex;
}

#welcome, #random, #search {
    width: 80%;
    margin: 60px auto;
    text-align: center;
}
}

/* Accueil */

#welcome {
    background-color: #e7e7e7;
    padding: 50px 100px;
    border-radius: 10px;
}

#welcome h2 {
    font-size: 30px;
}

#welcome p {
    padding: 10px 0;
}

/* Page Recherche */
#search h2 {
    margin: 15px 0;
}
#searchForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search {
    display: block;
    padding: 20px;
}
#search input {
    width: 60%;
    height: 60px;
    font-size: 24px;
    border-color: #e7e7e7;
    border-radius: 10px;
}
#search select {
    flex: 1;
    margin: 10px;
    border: none;
    font-size: 16px;
    background-color: #f0f0f0;
    height: 60px;
}

.btn {
    height: 60px;
    border-radius: 5px;
    width: 10%;
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px #e7e7e7 solid;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-fav{
    width: 59%;
    padding: 15px;
    border: 1px solid #D22929;
    border-radius: 5px;
    color:#D22929;
}

.btn-fav .fa-heart{
    color: #D22929;
}

.btn-is-fav {
    background-color: #f00;
    color: #fff;
}

.album {
    text-align: center;
}

/* Favoris */
#mesfav {
    margin: 30px;
}

.song{
    border: 1px #e7e7e7 solid;
    margin: 50px 20px 20px;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 4px;
}

.artist {
    padding: 4px;
    font-size: 16px;
}

.album {
    padding-top: 4px;
    padding-bottom: 10px;
    font-size: 12px;
}

/* Random */

.random-song {
    text-align: center;
}

audio {
    padding-bottom: 10px;
}


/* 
@media screen and (max-width: 980px) { 
    .nav {
        display: inline-flex;
    }

    
 }
@media screen and (max-width: 736px) { 
    .nav {
        display: inline-flex;
    }

    
 }
@media all and (max-width: 480px) { 
    
 } */
